<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>896820121830-k3mkrkebrboi3slsomfb3t86ef7kcaii.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.896820121830-k3mkrkebrboi3slsomfb3t86ef7kcaii</string>
	<key>API_KEY</key>
	<string>AIzaSyBXKmdaM9gMugEX1c8TBnrDhpPsfKWKJQA</string>
	<key>GCM_SENDER_ID</key>
	<string>896820121830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tecsup.Snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-15f5b</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-15f5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896820121830:ios:7fd06aa943fb51973a2b27</string>
	<key>DATABASE_URL</key>
	<string>https://snapchat-15f5b-default-rtdb.firebaseio.com</string>
</dict>
</plist>